<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GuyProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>

  <applicationSettings>
    <GuyProject.Properties.Settings>
      <setting name="GuyProject_localhostBankService_BankService" serializeAs="String">
        <value>https://localhost:44318/BankService.asmx</value>
      </setting>
      <setting name="GuyProject_localhostClientBankService_ClientBankService"
        serializeAs="String">
        <value>https://localhost:44318/ClientBankService.asmx</value>
      </setting>
    </GuyProject.Properties.Settings>
  </applicationSettings>
</configuration>
